<mat-toolbar>

  <button mat-icon-button (click)="goBack()">
    <mat-icon matListIcon>arrow_back</mat-icon>
  </button>




<div>
  <button mat-button [matMenuTriggerFor]="afterMenu" class="menu">Solicitudes</button>
  <mat-menu #afterMenu="matMenu" class="menu" xPosition="after">
    <mat-list class="listado">
      <mat-list-item>

        <button mat-icon-button (click)="showInfo('first')">
          <mat-icon matListIcon>open_in_new</mat-icon>
        </button>
        <a href="/createRequest">Crear solicitud</a>

      </mat-list-item>
      <mat-list-item>

        <button mat-icon-button (click)="showInfo('first')">
          <mat-icon matListIcon>pending_actions</mat-icon>
        </button>
        <a href="...">Pendientes</a>

      </mat-list-item>
      <mat-list-item>

        <button mat-icon-button (click)="showInfo('first')">
          <mat-icon matListIcon>done</mat-icon>
        </button>
        <a href="...">Aprobadas</a>

      </mat-list-item>

      <mat-list-item>

        <button mat-icon-button (click)="showInfo('first')">
          <mat-icon matListIcon>cancel</mat-icon>
        </button>
        <a href="...">Denegadas</a>

      </mat-list-item>
    </mat-list>
  </mat-menu>



  <!-- Menú de cuenta-->


  <button mat-button [matMenuTriggerFor]="acc" class="menu">Cuenta</button>
  <mat-menu #acc="matMenu" xPosition="after" class="menu">
    <mat-list class="listado">
      <mat-list-item>

        <button mat-icon-button (click)="showInfo('first')">
          <mat-icon matListIcon>manage_accounts</mat-icon>
        </button>
        <a href="...">Editar mi cuenta</a>

      </mat-list-item>

      <mat-list-item (click)="logout()">

        <button mat-icon-button >
          <mat-icon matListIcon>logout</mat-icon>
        </button>
        <span>Cerrar sesión</span>

      </mat-list-item>



    </mat-list>
  </mat-menu>
  </div>
<h1> Área Personal</h1>


</mat-toolbar>



<div class="container">







 

      
  <div class="display">






      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile (click)="showInfo(caseta)" *ngFor="let caseta of casetas"> 
          <mat-list-item class="caseta">
          <img matLine src="../../assets/caseta.jpg" alt="">
          <h3 matLine clas="casetaName"> {{caseta.name}} </h3>
        </mat-list-item>
        </mat-grid-tile>
        
 
  </mat-grid-list>




    <mat-paginator [length]="size" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>




