$primaryColor: #2e6485;

a {
  text-decoration: none;
  color: #2e6485;
}

h1 {
  text-align: center;
  font-size: 42px;  
}


.container {
  padding-top: 3vh;
  background-color: #fefefe;

  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "barraLateral display";

  height: 70vh;
}

.barraLateral {
  grid-area: barraLateral;
  height: 90%;
  background-color:white !important;

    padding-bottom: 2vh;


}

.menuDisplay{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    height: 70%;
    padding-bottom: 2vh;
}

.mat-paginator{
    font-size:16px;
    display:block;
    position:fixed;
    bottom:5vh;
    right:20vw;
}

.containerLateral {
  width: 10vw;
  height: 25vh !important;
  background-color:#2e6485;



}


.display {

  grid-area: display;
  min-width: 70vw;
  margin-left: 0vw;
  height: 100%;



}
img{
  position:relative;
  left:0.8vw;
  padding-top:2vh;
  width: 200px;
  height: 200px;
}


.mat-grid-list{
  width: 70vw;
  h3{
    font-size: 26px !important;
    text-align: center ;
    font-weight: normal;

  }
}

.casetas {




 
  .mat-icon{
    text-align:center ;
    font-size: 42px !important;
    height:max-content;
    width: max-content;

  }


}
.d1 { grid-area: d1; }
.d2 { grid-area: d2; }
.d3 { grid-area: d3; }
.d4 { grid-area: d4; }

.mat-card {

  margin-left: 1vw;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.38);

}

.mat-list-item:hover {
  transform: scale(1.1)
}


.mat-list-item {

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.listado {

  width: 12.3rem !important;
}

.menu {
  font-size: 24px !important;

  &:hover {
    transform: scale(1.2);
  }

}

.mat-card-title {
  padding-top:2vh;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}


.mat-toolbar{
  color:white !important;

  h1{
    position:relative;
    left:18.5vw;
    font-weight: bolder;
  }
  .mat-list-item{
    color:white !important;
  }
  background: linear-gradient(90deg, $primaryColor,#f3f3f3);
  box-shadow: 2px 5px 5px -6px rgba(0,0,0,1);
  -webkit-box-shadow: 2px 5px 5px -6px rgba(0,0,0,1);
  -moz-box-shadow: 2px 5px 5px -6px rgba(0,0,0,1);
  border-radius: 3px;


}



.caseta{
  background: linear-gradient(#f3f3f3,$primaryColor);

 // background-color: black;
  border-radius: 3px;
  color:white;
  width: 12vw;
}
 
