$primaryColor: #2e6485;
.mat-toolbar{
  box-shadow: 2px 5px 5px -6px rgba(0,0,0,1);
  -webkit-box-shadow: 2px 5px 5px -6px rgba(0,0,0,1);
  -moz-box-shadow: 2px 5px 5px -6px rgba(0,0,0,1);
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-icon {
  transform: scale(1.6);
  color: $primaryColor;
}

span {
  color: $primaryColor;
}
a {
  color: $primaryColor;
  text-decoration: none;
}
.toolbarBtns{

  display:flex;
  flex-direction: row;
}

.mat-primary{
  background-color:rgb(0, 165, 0) !important;
  color:white;
}

.mat-primary:hover{
  transform: scale(1.1)
}