<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Inicia Sesión</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Usuario" formControlName="usuario" #usuario>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña" formControlName="contraseña" #contraseña>
        </mat-form-field>
      </mat-card-content>
    <button  type="submit" mat-button color="primary" class="btn-block" >Iniciar Sesión</button>

      <!-- TODO CAMBIAR A REACTIVE FORM Y BTN -->
    </form>

  <span>¿No tienes cuenta? <a mat-button  [routerLink]="['register']">Registrate</a></span>

  </mat-card>




</div>
