


<div class="Container">



    
<form [formGroup]="requestForm" class="a1">
    <mat-card-title>Caseta </mat-card-title>
    <mat-form-field appearance="outline" >
        <mat-label>Nombre de la caseta</mat-label>
        <input matInput id="name" formControlName="name" #name readonly >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CIF</mat-label>
        <input matInput id="cif" formControlName="cif" #cif readonly >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Código Postal</mat-label>
        <input matInput id="cp" formControlName="cp" #cp readonly >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Domicilio Social</mat-label>
        <input matInput id="dSocial" formControlName="dSocial" #dSocial readonly >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Modalidad</mat-label>
        <input matInput id="modality" formControlName="modality" #modality readonly >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Superficie</mat-label>
        <input matInput id="surface" formControlName="surface" #surface readonly >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefonos</mat-label>
        <input matInput id="telefonos" formControlName="telefonos" #telefonos readonly >
      </mat-form-field>

     
      <mat-divider></mat-divider>

      <form formGroupName="info" class="a2">
        <mat-card-title>Usuario </mat-card-title> <br>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput id="nombreInfo" formControlName="nombre" #nombreInfo readonly >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput id="apellidoInfo" formControlName="apellido" #apellidoInfo readonly >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Correo electronico</mat-label>
            <input matInput id="correoInfo" formControlName="correo" #correoInfo readonly >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput id="dniInfo" formControlName="dni" #dniInfo readonly >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Domicilio</mat-label>
            <input matInput id="domicilioInfo" formControlName="domicilio" #domicilioInfo readonly >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <input matInput id="provinciaInfo" formControlName="provincia" #provinciaInfo readonly >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput id="telefono" formControlName="telefono" #telefono readonly >
          </mat-form-field>


      </form>






</form>



<div class="comentarios">
<mat-divider></mat-divider>

  <h3>Comentarios</h3>
  <mat-list class="listaComents">
    <mat-list-item *ngFor="let message of messages">
      <h3 matLine> {{message.user}} </h3>
      <p matLine>
        <span class="demo-2"> -- {{message.content}} </span>
      </p>
    </mat-list-item>
  </mat-list>

  <form [formGroup]="commentForm">

    <mat-form-field appearance="fill">
      <mat-label>Añadir Comentario</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>

    <button (click)="submitForm()" mat-stroked-button color="primary">Enviar</button>

  </form>

  
</div>

</div>
